{% extends 'mysite/base.html' %}


{%block content%}

<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3 class="pd-4 mb-4 font-italic border-bottom">
                Django Lesson
            </h3>
            
            {% for object in page_objects %}
            <div class="blog-post">
                
                <h2 class="blog-post-title">{{object.title}}</h2>
                <p class="blog-post-meta">{{object.created_at}}</p> by <a href="#">{{object.author}}</a></p>
                <p>{{object.text}}</p>
                <a href="/blog/{{object.id}}" class="">続きはこちら</a>
            </div>
            <hr>
            {%endfor%}
            {% include 'mysite/snippets/pagination.html' %}
        </div>

        {% include 'mysite/snippets/sidebar.html' %}
    </div>
</main>





{% endblock %}